# Dépendances front-end
node_modules/

# Fichiers de build ou de sortie
dist/
build/

# Caches, logs, fichiers temporaires
*.log
*.tmp
.cache/

# Fichiers de configuration locale ou sensibles
.env

# Fichiers système et IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Fichiers temporaires génériques
*~
